.doctors {
    background-color: #ffffff;
    padding: 30px 0;
}

.section-title {
    text-align: center;
}

.section-title h2 {
    font-size: 32px;
    color: #fe3f40;
}

.info {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #fe3f40;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


/* Form styling */

form label {
    display: block;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

form button {
    background-color: #fe3f40;
    color: #fff;
    padding: 10px 20px;
}